html{
    // 网页字体
    font-family: Arial, Helvetica, sans-serif;
    // 字体颜色
    color: white;
    background-color: rgb(255, 255, 255);
}

.cover{
    // 背景色
    background-color: black;
    div{
        // 定位
        position: relative;
        // 高度设置
        height: 100vh;
        .zim,.bot,.build_time,.deta{
            // 定位
            position: absolute;
            // 垂直居中
            height: 8vh;
            // 字体颜色 
            color: white;
            // 字体大小
            font-size: 5vw;
            // 渐变
            transition: all 2s;
            opacity: 0;
            z-index: 9999;
        }
        .zim,.build_time{
            // 字体族
            font-family: Monotype corsiva;
        }
        .zim{
            // 定位
            top: 35vh;
            left: 4vw;
        }
        .bot{
            // 字体族
            font-family: kaiti;
            // 定位
            top: 43vh;
            left: 18vw;
        }
        .build_time{
            // 定位
            top: 65vh;
            right: 20vw;
        }
        .deta{
            top: 0;
            right: 0;
            width: 19vw;
            height: 60vh;
            background: url(https://github.com/Zimmmmm/mao/blob/main/image/%CE%B4.JPG?raw=true) no-repeat;
            background-size: 19vw;
        }
    }
}

.intro{
    position: relative;
    // 宽度高度设置
    top: -50vh;
    height: 100vh;
    // 字体大小
    font-size: 5vw;
    // 字体颜色
    color: black;
    // 字体居中
    text-align: center;
    opacity: 1;
}

main{
    position: relative;
    height: 80vh;
    aside{
        // 开启浮动
        float: left;
        // 宽度高度设置
        width: 25%;
        height: 100%;
        background-color: #bfa;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .content{
        // 开启浮动
        float: left;
        // 宽度高度设置
        width: 70%;
        height: 100%;
        // 左边距设置
        margin-left: 5%;
        background-color: orange;
        // 边框阴影
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
}

footer{
    position: relative;
    top: 5vh;
    background-color: skyblue;
    height: 25vh;
}
